    // Specific CSS for your home-page

.half-line {
  width: 50vw;
  margin: auto;
  margin-bottom: 24px;
}

section {
  background-origin: bottom;
}

.btn-primary {
  border: 0;
  background-color: rgb(29, 147, 168);
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url("ph-gradient-copy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-top: 12px;
}

.row {
  padding: 48px 0px
}

.text-secondary {
  margin-bottom: 24px;
}

.profile-pic {
  height: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.profile-pic img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.col-lg-6 {
    // this is for the hover scroll effect
  overflow: hidden;
  position:relative;

  display: flex;
  flex-direction: column-reverse;
  height: 320px;
  width: 420px;
  margin: 24px 12px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    a {
      text-decoration: none;
      color: #ffffff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.no-gutters {
  justify-content: space-around;
}

.coming-soon {
  background-image: url("ph-gradient-copy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-item {

}

.caption {
  max-height: 50px;
}

.caption span {
  width: 420px;
  padding: 12px;
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 100px;
  position: absolute;
  white-space: nowrap;
  transform: translateY(0);
  transition: 1s;

  }
  span.google-fish{
    bottom: -71%;
  }
  span.useless-box{
    bottom: -71%;
  }
  span.cat-feeder{
    bottom: -71%;
  }
  span.coming-soon{
    background-color: rgba(0,0,0,0.7);
    background-image: none;
    bottom: -40%;
  }
  p {
    font-size: 17px;
    white-space: normal;
}

.col-lg-6:hover {
  .caption {
  span {
  transform: translateY(calc(-200px - -50px));
  }
  span.coming-soon {
    transform: translateY(calc(-100px - -50px));
  }
}
}

#pawsome-card {

}

#fish-card {
  background-image: url("google-fish.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#useless-box-card {
  background-image: url("useless-box.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#feeder-card {
  background-image: url("cat-feeder.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#music-section {
  margin-top: 24px;
}

footer {
  height: 100px;
  background-color: rgb(29, 147, 168);
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    p {
      font-size: 12px;
    }
  }
}

.social-links {
  margin: 12px 12px;
  a {
    padding-right: 12px;
    text-decoration: none;
    color: #000000;
  }
}


